# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Android
local.properties
.cxx/
android/tts-model/
android/app/libs/*.aar

# Kotlin
*.class

# Misc
*.log
*.tmp
